body {
    position: relative;
    font-family: 'Poppins';
    
    
    background-color: #2F303A;
    }
    .breadcrumb{
        font-family: Poppins;

text-align: left;


color:white;
    }
    h1{
        position: absolute;
width: 493px;
height: 144px;
left: 290px;
top: 150px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 144px;
/* identical to box height */

text-align: center;

color: white;}
em{
    color: palevioletred;
    font-size: 98px;
    
}

    
    
    input[type=text], select {
        width: 35%;
       
        padding: 12px 20px;
        margin: 8px 0;
        margin-left: 890px;
        display: inline-block;
       
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type=password], select {
        width: 35%;
       
        padding: 12px 20px;
        margin: 8px 0;
        margin-left: 890px;
        display: inline-block;
        
        border-radius: 4px;
        box-sizing: border-box;
      }
      label{
        color: white;
        margin-left: 890px;
      }
      input[type=submit] {
        width: 35%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        margin-left: 890px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      div {
        border-radius: 5px;
        background-color: #2F303A;
        padding: 20px;
      }